<div class="d-flex flex-column align-items-center text-center">
  <div class="col-12 image mt-3 mb-5">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      alt="URL-shortener-icon" class="card-img-top" style='max-width: 25rem;' />
  </div>
  <div>
    <h1>Oops!請確認您輸入的網址是否正確!</h1>
  </div>
</div>