<div class="image mt-3 mb-5">
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    alt="URL-shortener-icon" class="card-img-top" style='max-width: 25rem;' />
</div>
<form action="/">
  <div class="form-group">
    <input class="input" type="text" style="min-width: 20rem;" placeholder="Input URL here...">
    <button class="">Shorten URL</button>
  </div>
</form>
<div class="url-shortened" style="background-color:azure; width:max-content">
  https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png</div>